/* CSS PERSONALISER */
main {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    height: 100%;
    background-color: black;
}

body {
    height: 100%;
}

.container-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.image-apes {
    margin: 50px;
    object-fit: cover;
    padding: 0;
    border-radius: 50%;
}

.img-button {
    position: absolute;
    top: 20px;
    z-index: 1;
}

.balance {
    position: absolute;
    top: 80%;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
}

.footer {
    color: white;
    position: fixed;
    bottom: 0%;
    z-index: 1;
}

.flex {
    background-color: #41464a;
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    padding: 5px;
}

.tasks {
    color: white;
    width: 90%;
    margin-bottom: 30px;
}

.tasks_title {
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
}

.task_container {
    display: flex;
    align-items: center;
}

.tasks_li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #4c525daa;
    padding-left: 5px;
    margin: 2px;
    border-radius: 10px;
}

.li_img {
    background-color: #41464a;
    border-radius: 50%;
    margin: 10px;
    height: 25px;
    width: 25px;
}

.border_svg {
    border-radius: 50%;
}

.logo_wallet {
    padding: 4px;
    height: 25px;
    width: 25px;
}

.li_btn {
    margin: 5px;
}

.p_div {
    font-size: 12px;
}

.rewards {
    color: gray;
}

.friend_logo {
    height: 25px;
    padding: 5px;
}

.li_menu_friend {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.li_menu_friend svg {
    height: 25px;
}

.share {
    border: 1px solid white;
    color: white;
    min-height: 150px;
    width: 300px;
}